*.iml
.DS_Store
.cxx
.externalNativeBuild
.gradle
/.idea/.name
/.idea/androidTestResultsUserPreferences.xml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
local.properties